<% include partials/header %>

<h1>This is the Landing page</h1>
<div class="container" >
    <p>Welcome to the Landing Page!!</p>
    <a href="/campgrounds">View all Campgrounds</a>
    <a href="/secret">Secret Page</a>
</div>


<% include partials/footer %>