<% include partials/header %>

<div class="container" >
    <p><br/></p>
    <h1>This is the Login Page!</h1>
    <p><br/></p>
    <form action="/login" method="POST">
        <p>
            <input type="text" name="username" placeholder="username">
        </p>
        <p>
            <input type="password" name="password" placeholder="password">
        </p>
        <p>
            <button>Submit</button>
        </p>        
    </form>
    <p></p>
    <a href="/register">Register</a>
    <a href="/secret">Secret Page</a>
</div>


<% include partials/footer %>