<% include partials/header %>

<div class="container" >
    <h1>This is the Secret Page!</h1>
    <p>
        <a href="/logout">Register</a>
    </p> 
    <p>    
        <a href="/campgrounds">Homepage</a>
    </p>




</div>
<% include partials/footer %>